@{

     @model HTAdmin.RepairQuotes
}

<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Unlocking Cost</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        @Html.TextBoxFor(model => model.serviceDetails.UnlockingCost)
         @Html.ValidationMessageFor(model => model.serviceDetails.UnlockingCost)
    </div>
</div>
 <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Did customer made advance payment?</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
   @Html.DropDownListFor(x=> x.serviceDetails.AdancePayment,new SelectList(new [] 
        {
            new { ID = false, Name = "No" },
            new { ID = true, Name = "Yes" }
        }, "ID", "Name"),new {id= "ddlRepairType", @class = ""})
         @Html.ValidationMessageFor(model => model.serviceDetails.AdancePayment)
    </div>
</div>
 <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Advance Payment</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
        @Html.TextBoxFor(model => model.serviceDetails.AdancePaymentAmount)
         @Html.ValidationMessageFor(model => model.serviceDetails.AdancePaymentAmount)
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Collection Date/Time<span class="required">*</span></label>
     <div class="col-md-9 col-sm-9 col-xs-12">
      @Html.TextBoxFor(model => model.serviceDetails.CollectionDateTime,"{0:s}", new { type="datetime-local" , id= "CollectionDateTime"})
          @Html.ValidationMessageFor(model => model.serviceDetails.CollectionDateTime)
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Message To Engineer</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
      @Html.TextAreaFor(model => model.serviceDetails.MessageToEngineer)
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12">Assigned Engineer</label>
    <div class="col-md-9 col-sm-9 col-xs-12">
    @Html.DropDownListFor(x=> x.serviceDetails.EngineerUserId,new SelectList(Model.lstEngineers, "UserId", "UserName"),"Select Engineer"
                     ,new {id= "ddlRepairType", @class = "select2_single form-control"})
         @Html.ValidationMessageFor(model => model.serviceDetails.EngineerUserId)

    </div>
</div>

